.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #e2703a;
  position: sticky;
  top: 0;
  z-index: 20;
}

@media (max-width: 680px) {
  .header {
    display: grid;
  }
}

.app__logo {
  flex: 1;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 600;
}

.add__postButton {
  display: flex;
  align-items: center;
}

.register__button {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.register__button > Button {
  background-color: #9c3d5557;
  margin-right: 3px;
}

.register__button > Button:hover {
  background-color: #9c3d5582 ;
}

.signup__form {
  display: flex;
  flex-direction: column;
}

.logo__signupForm {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

.signin__form {
  display: flex;
  flex-direction: column;
}
