.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #e2703a;
  position: sticky;
  top: 0;
  z-index: 20;
}

.app__logo {
  flex: 1;
  font-family: "billabong";
  font-size: medium;
  font-weight: 600;
}

.register__button {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.signup__form {
  display: flex;
  flex-direction: column;
}

.logo__signupForm {
  text-align: center;
  font-family: "billabong";
}

.signin__form {
  display: flex;
  flex-direction: column;
}

