.post {
  max-width: 500px;
  border: 1px solid #9c3d54;
  background-color: #e2703a;
  margin-bottom: 20px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .post {
    margin-right: 0px;
  }
}

.post__image > img {
  width: 100%;
  object-fit: contain;
}

.post__top {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post__top > h4 {
  margin-left: 10px;
}

.post__caption {
  padding: 20px;
}

.comment__section {
  padding: 20px;
}

.comment__postSection {
  display: flex;
}

@media (max-width: 650px) {
  .comment__postSection > button {
    display: none;
  }
}

.comment__input {
  flex: 1;
  outline-width: 0;
  border: none;
  padding: 10px;
}

.comment__button {
  border: none;
  color: #e2703a;
}

.commentCollapse__button {
  margin-left: 20px;
  background-color: #e2703a;
  padding: 5px 5px;
  font-weight: 800;
  margin-bottom: 5px;
}
